@font-face {
  font-family: "Valorant";
  src: url("/fonts/Valorant\ Font.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLightIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-SemiboldIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BlackIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  background-color: grey;
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 7%;
  background-color: #111823;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999999;
}

.logo {
  display: flex;
}

.logo img {
  align-items: center;
}

.navbar .menu-container {
  order: 2;
}

.navbar .menu-container a {
  color: #ece8e1;
  display: inline-block;
  margin: 0 20px;
  font-weight: 600;
}

.navbar .menu-container a:hover {
  color: #ff4654;
}

.navbar .menu-container a::after {
  content: "";
  display: block;
  padding-bottom: 8px;
  border-bottom: 1.6px solid #ff4654;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .menu-container a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ece8e1;
}

.navbar .navbar-extra a:hover {
  color: #ece8e1;
}

#hamburger-menu {
  display: none;
}

.chooseyouragent .agents-container {
  background-image: url("/assets/Agents\ Background.png");
  background-position: cover;
  background-repeat: repeat;
  background-size: cover;
}

.chooseyouragent .agents-title {
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
  padding: 2rem 0;
  color: #ece8e1;
  font-size: 3rem;
  font-family: "Valorant", sans-serif;
}

.chooseyouragent .agents-container .agents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
  gap: 5rem;
  padding: 5rem;
  margin: 0 auto;
}

.chooseyouragent .agents-container img{
  padding: 1rem;
  width: calc(587px/3);
  height: calc(900px/3);
  object-fit: contain;
  margin: auto;
  background-color: red;
  background: linear-gradient(
    180deg,
    #101822 0%, #82797B 50%,
    #101822 100%
  );
  /* border-radius: 1rem; */
  border: 5px solid #ece8e1;
  /* box-shadow: 0.5rem 0.5rem 0.5rem black; */
  background-image: url(/assets/japanese-kintsugi-pattern-background_1048-16131.jpg);
  background-position: center;
  background-size: auto;
}

.chooseyouragent .agents-container a:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.agent-card {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 10px 10px 10px #111823; */
}

.agent-name {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 97%;
  background: rgba(236,232,225,1);
  color: #111823;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  transition: bottom 0.3s ease;
  font-family: "Valorant";
  /* border-radius: 1rem; */
}

.agent-card:hover .agent-name {
  bottom: 0;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #31373D;
  padding: 2rem;
  margin-top: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-media .socmed img{
  width: 3rem;
  height: 3rem;
}

.footer-container .copyright {
  color: #ece8e1;
  width: 45rem;
  text-align: center;
}

.footer-container .logo {
  display: flex; 
  align-items: center;
  padding: 1rem;
}

.footer-container .logo .palorant {
  width: 4rem;
  height: 4rem;
}

.footer-container .copyright {
  padding: 4%;
  width: 97%;
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .menu-container {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #111823;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .menu-container a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .menu-container a::after {
    transform-origin: 0 0;
  }

  .navbar .menu-container a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .menu-container.active {
    right: 0;
  }

  .navbar .navbar-extra {
    order: 2;
  }

  #hamburger-menu {
    display: inline-block;
  }

  #hamburger-menu img {
    width: 3rem;
    height: 3rem;
  }

  .chooseyouragent .agents-title {
    font-size: 2.5rem;
    margin-top: 7.6rem;
  }

  .chooseyouragent .agents-container .agents{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
  }

}
