@font-face {
  font-family: "Valorant";
  src: url("/fonts/Valorant\ Font.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLightIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-SemiboldIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BlackIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "SourceSansPro", sans-serif;
  font-weight: 400;
  background-color: #101822;
  font-size: 1rem;
  /* min-height: 6408px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 7%;
  background-color: #111823;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999999;
}

.logo {
  display: flex;
}

.logo img {
  align-items: center;
}

.navbar .menu-container {
  order: 2;
}

.navbar .menu-container a {
  color: #ece8e1;
  display: inline-block;
  margin: 0 20px;
  font-weight: 600;
}

.navbar .menu-container a:hover {
  color: #ff4654;
}

.navbar .menu-container a::after {
  content: "";
  display: block;
  padding-bottom: 8px;
  border-bottom: 1.6px solid #ff4654;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .menu-container a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ece8e1;
}

.navbar .navbar-extra a:hover {
  color: #ece8e1;
}

#hamburger-menu {
  display: none;
}

/* Section 1 */

.banner {
  margin-top: 76px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/assets/overlay\ valorant\ 1.png),
    url(/assets/Split\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .content #description {
  font-weight: 300;
  font-size: 1rem;
}

.banner .content h1 {
  color: #fff;
  font-family: "Valorant";
  font-size: 8rem;
  text-shadow: rgba(17, 24, 35, 0.5);
  margin-bottom: 2rem;
}

.banner .content #persuasive {
  font-size: 2.25rem;
  letter-spacing: 8px;
  max-width: 80%;
  margin-bottom: 1rem;
}

.banner .content .download-button {
  bottom: 5rem;
  width: 16rem;
  height: 5rem;
  background-color: #ece8e1;
  display: inline-block;
  color: #101822;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.3rem 1.5rem;
}

.banner .content .image{
  width: calc(293px*0.1px);
  height: calc(450px*0.1px);
}

.banner .content .image img{
  width: calc(293px*0.1px);
  height: calc(450px*0.1px);
}

/* Section 2 */

.brief-description {
  background-color: #ff4654;
  background-image: url(/assets/Loading_Canyon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brief-description .about-title1{
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  margin-top: .5rem;
  margin-bottom: 2rem;
  position: absolute;
  border-bottom: 3px solid #000;
  text-shadow: 1px 1px 2px black;
}

.brief-description .about-title2{
  color: #fff;
  font-size: 5rem;
  opacity: 0.1;
  stroke: #ece8e1;
  font-weight: 900;
  margin-bottom: 2rem;
}

.brief-description .description{
  color: #fff;
  font-size: .8rem;
  width: 30rem;
  letter-spacing: .2rem;
  font-weight: 200;
}

.brief-description .ilustration img{
  width: calc(293px*0.4px);
  height: calc(450px*0.4px);
}

.brief-description .description-container .gif {
  margin: 2rem;
  box-shadow: 0px 5px 5px black;
  border: 3px solid #ece8e1;
  border-radius: 1rem;
}

/* Section 3 */
.best-agent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.best-agent .bestagent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111823;
  padding: 2rem;
  margin: 3rem auto;
  width: calc(100% - 4rem);
  margin-top: .5rem;
}

.best-agent .bestagent-title {
  color: #ece8e1;
  letter-spacing: 50%;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  line-height: 25px;
  margin: 3rem auto;
}

.best-agent .bestagent-container .bestagent-img {
  width: calc(587px*0.9px);
  height: calc(900*0.9px);
  margin-top: 3rem;
  filter: drop-shadow(0 0 20px #1e90ff);
}

.best-agent .bestagent-container .agent-name {
  color: #ece8e1;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  line-height: 25px;
  margin: 3rem auto;
  letter-spacing: 3rem;
  text-shadow: 
  0 0 5px #00bfff,
  0 0 10px #1e90ff,
  0 0 20px #00f0ff,
  0 0 40px #00f0ff,
  0 0 80px #00f0ff;
}

.best-agent .bestagent-container .bestagent-role {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.best-agent .bestagent-container .bestagent-role .role {
  color: #ff4654;
  font-size: 4rem;
  font-weight: 700;
}

.best-agent .bestagent-container .bestagent-role .roledesc {
  color: #ece8e1;
  font-size: 3.5rem;
  font-weight: 700;
}

.best-agent .bestagent-container .skills {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin: 3rem auto;
}

.best-agent .bestagent-container .skills .skills-title {
  font-size: 4rem;
  color: #ff4654;
  font-weight: 700;
  border-bottom: .5rem #ff4654 solid;
}

.best-agent .bestagent-container .skill {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.best-agent .bestagent-container .skill img {
  width: 5rem;
  height: 5rem;
}

.best-agent .bestagent-container .skill .skill-name{
  color: #ece8e1;
  font-weight: 400;
  font-size: 2rem;
}

.best-agent .bestagent-container .seeallagentsbtn {
  background-color: #ff4654;
  margin-top: 2rem;
  border: .2rem solid #ece8e1;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #ece8e1;
}

.best-agent .bestagent-container .seeallagentsbtn:hover {
  background-color: #ece8e1;
  color: #ff4654;
  transition: 0.5s;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #31373D;
  padding: 2rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-media .socmed img{
  width: 3rem;
  height: 3rem;
}

.footer-container .copyright {
  color: #ece8e1;
  width: 45rem;
  text-align: center;
}

.footer-container .logo {
  display: flex; 
  align-items: center;
  padding: 1rem;
}

.footer-container .logo .palorant {
  width: 4rem;
  height: 4rem;
}

.footer-container .copyright {
  padding: 4%;
  width: 97%;
}

/* Media Query */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .menu-container {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #111823;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .menu-container a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .menu-container a::after {
    transform-origin: 0 0;
  }

  .navbar .menu-container a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .menu-container.active {
    right: 0;
  }

  .navbar .navbar-extra {
    order: 2;
  }

  #hamburger-menu {
    display: inline-block;
  }

  #hamburger-menu img {
    width: 3rem;
    height: 3rem;
  }

  .banner .content .agent-img{
    width: 40vw;
    margin-right: 1rem;
  }
  
  .banner .content {
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .banner .content #description {
    margin-bottom: 1rem;
  }

  .banner .content #title {
    font-size: 5rem;
  }

  .banner .content #persuasive{
    text-align: center;
    margin: 1rem auto;
    font-size: 80%;
  }

  .banner .content .image {
    width: 50%;
    height: 50%;
    margin: 4rem auto;
  }

  .brief-description {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .brief-description .description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .brief-description .description-container .title{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .brief-description .description-container .about-title1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .brief-description .ilustration {
    display: none;
  }

  .brief-description .description-container .gif {
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    box-shadow: 0px 5px 5px black;
    border: 3px solid #ece8e1;
    border-radius: 1rem;
  }

  /* .brief-description .ilustration img {
    width: 50%;
    height: 50%;
    margin: 4rem auto;
  } */

  .bestagent-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .best-agent .bestagent-container .agent {
    order: -1;
  }

  .best-agent .bestagent-container .bestagent-role {
    order: 0;
  }

  .best-agent .bestagent-container .skills {
    order: 1;
  }

}
