@font-face {
  font-family: "Valorant";
  src: url("/fonts/Valorant\ Font.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-ExtraLightIt.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-SemiboldIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/fonts/SourceSansPro-BlackIt.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro";
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.map {
    padding: 3rem;
    background-color: #ece8e1;
}

.map .map-name {
    font-family: "SourceSansPro";
    font-size: 4rem;
    color: #000;
    font-weight: 900;
    text-shadow: 1px 1px 1px #101822;
}

.map .maps-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.map .paragraph {
    font-size: 1.5rem;
    color: #000;
    margin: 0.5rem 0; 
    margin: 2rem auto;
    font-weight: 200;
    letter-spacing: 2px;
}

.map .topdownview {
    width: 70%;
}

.map .loading-map {
    width: 70%;
    margin: 2rem auto;
}

.map .other-map {
    background-color: #FF4654;
    text-decoration: none;
    color: #101822;
    padding: 1rem 3rem;
    border: 3px solid #101822;
    font-size: 2rem;
    font-family: "Valorant";
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.map .other-map:hover {
    background-color: #101822;
    color: #FF4654;
    transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
}